.hero-section {
  min-height: fit-content;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  z-index:5;
}

.free-test {
background-color:#22c55e;
  color: white;
  border: 1px solid #22c55e;
  border-radius: 12px;
  padding: 16px 46px;
}

.see-demo {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 12px;
  padding: 16px 46px;
  margin-bottom: 8px;
}


.hero-grid {
  display: flex;
 
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .hero-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  animation: fade-in 1s ease forwards;

}

.hero-text {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.hero-title {
  font-size: 32px;
  font-weight: 700;
  color: white;
  line-height: 1.2;
  margin: 0;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 5rem;
  }
}

.highlight-text {
  color: rgb(0, 0, 0)
}

.hero-subtitle {
  font-size: 1.25rem;
  color:rgb(179, 179, 179)e;
  max-width: 36rem;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .hero-buttons {
    flex-direction: row;
  }
}

.hero-highlights {
  display: flex;
  gap: 2rem;
  color: #ffffff;
}

.highlight-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.highlight-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
}

.highlight-dot.green {
  background-color: #22c55e;
}

.hero-image-wrapper {
  position: relative;
  animation: float 5s ease-in-out infinite;
}

.hero-image-container {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

}

.hero-image {
  width: 100%;
  height: auto;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}
