.hero-section {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {

  min-width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 5;
  background-color: transparent;
}

.free-test {
  background-color: #22c55e;
  color: white;
  border: 1px solid #22c55e;
  border-radius: 12px;
  padding: 16px 46px;
}

.see-demo {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 12px;
  padding: 16px 46px;
  margin-bottom: 8px;
}

.hero-grid {
  display: flex;

  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .hero-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 726px) {

  .free-test {
    width: fit-content;
    padding: 1rem;
    text-wrap: nowrap;
    font-size: 14px;
  }

  .see-demo {
    text-wrap: nowrap;
    font-size: 14px;
    padding: 1rem;
  }
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  animation: fade-in 1s ease forwards;

}

.hero-text {
  margin-top: 3rem;
  color: white;
}


.hero-title {
  font-size: 32px;
  font-weight: 700;
  color: white;
  line-height: 1.2;

}

@media (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

.highlight-text {
  color: rgb(0, 0, 0)
}

.hero-subtitle {
  font-size: 1rem;
  color: rgb(247, 247, 247);
  text-align: center;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (min-width: 640px) {
  .hero-buttons {
    flex-direction: row;
  }
}

.hero-highlights {
  display: flex;
  gap: 2rem;
  color: #ffffff;
}

.highlight-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.highlight-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
}

.highlight-dot.green {
  background-color: #22c55e;
}