.custom-card {
  margin-bottom: 1.5rem;
  font-family: 'Inter', sans-serif;
}

.custom-card .icon-container {
  width: 4rem;
  height: 4rem;
  background-color: rgb(230, 230, 230); 
  color: rgb(2, 146, 9);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  transition: transform 0.3s;
}

.icon-container {
  transform: scale(1.1);
}

.highlight-badge {
  display: inline-block;
  background-color: transparent;
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 9999px;
  margin-bottom: 1rem;
}

.custom-card h3 {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--color-foreground);
  margin-bottom: 0.75rem;
  transition: color 0.3s;
}

.custom-card:hover h3 {
  color: rgb(0, 0, 0);
}

.custom-card p {
  color: var(--color-muted-foreground);
  line-height: 1.625;
  margin-bottom: 1rem;
}

.more-info {
  display: flex;
  align-items: center;
  color: var(--color-foreground);
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-card:hover .more-info {
  opacity: 1;
}

.custom-card .more-info span {
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
